- Representation

- type

- len

- max

- min

- sorted

- reversed

- in

- for loop using in

- index

- for loop index

- mutable

- concatination

- slicing

- methods

**Representation

- string representation with quotes

- list represent with squre brackets []

In [1]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [2]:
type(l1)

list

In [3]:
l2=['A', 'B', 'C', 'D']
l2

['A', 'B', 'C', 'D']

In [4]:
l3=[1,2,3,4,'A','B','C','D']
l3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [5]:
l4=[1,2,3,'A','B','C','Apple','Ball','Cat',True,False]
l4

[1, 2, 3, 'A', 'B', 'C', 'Apple', 'Ball', 'Cat', True, False]

In [7]:
name='naresh it'
l5=[name]
l5

['naresh it']

In [8]:
l6=[100,100,100]
l6

[100, 100, 100]

In [9]:
l7=[100,'apple',['A',2]]
l7

[100, 'apple', ['A', 2]]

In [13]:
l8=2.4,'444ab'
l8

(2.4, '444ab')

- list are array of elements

- list elements are heterogeneous all the data types we can represent in a list

- list elements are allowed duplicates

- list in list is possible

- variable assignment also possible in the list

In [ ]:
- len

- max

- min

- sorted

- reversed

In [30]:
l1=[1,2,3,4]
p1=len(l1)
print(p1)
m=max(l1)
print(m)
mi=min(l1)
print(mi)
so=sorted(l1)
print(so)
re=reversed(l1)
print(re)

4
4
1
[1, 2, 3, 4]
<list_reverseiterator object at 0x7ff800553e20>

In [31]:
l2=['A','B','C','D']
p1=len(l2)
print(p1)
m=max(l2)
print(m)
mi=min(l2)
print(mi)
so=sorted(l2)
print(so)
re=reversed(l2)
print(re)

4
D
A
['A', 'B', 'C', 'D']
<list_reverseiterator object at 0x7ff7fff2c4c0>

In [37]:
l3=[1,2,3,4,'A','B','C','D']
p1=len(l3)
print(p1)
#max(l3)  ## error
#print(m)
#mi=min(l3) ## error
#print(mi)  ## error
#so=sorted(l3)
#print(so)
re=reversed(l3)
print(re)

8
<list_reverseiterator object at 0x7ff800553a30>

In [ ]:
l3=[1,2,3,4,'A','B','C','D']
p1=len(l3)
print(p1)
#max(l3)  ## error
#print(m)
#mi=min(l3) ## error
#print(mi)  ## error
#so=sorted(l3)
#print(so)
re=reversed(l3)
print(re)

l4=[1,2,3,'A','B','C','Apple','Ball','Cat',True,False]
p1=len(l4)
print(p1)
ma=max(l4)
print(ma)
#mi=min(l4)
#print(mi)
#so=sorted(l4)
#print(so)
#re=reversed(l4)
#list(reversed(l4))
#print(re)

In [48]:
list1=['Apple',1,['Cherry','Banana']]
len(list1)

3

In [49]:
list1=[65,'A']
max(list1)

TypeError: '>' not supported between instances of 'str' and 'int'

**Index operations

In [54]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]
a1=l4[3]
print(a1)
a2=l4[-5]
print(a2)

Apple
Apple

In [62]:
l1=[1,[2]]
#new=l1[1]
#new[0]

l1[1][0]

2

In [65]:
## I want to print A only
l1=[1,[2,'A']]
l1[1][1]
#'A' represent at index 1
# so we gien l1[1] : [2,'A'] it is also a list
# the list has two elements
# 'A' at 1st index
# l1[1][1]

'A'

In [79]:
# I want the to print 'B' only, what will be the string

l1=[1,[2,['A','B']]]
len(l1)
l1[1][1][1]

'B'

In [85]:
l1=[1,2,
    [3,
     [4,
      [5,
       ['Apple']]]]]
#len(l1)
l1[2][1][1][1][0]

'Apple'

In [89]:
list1=['Apple',1,'Solapur',['Cherry','papaya',70,[123,'Banana'],'tomato'],'python']    ## get bananna
list1[3][3][1]

'Banana'

In [100]:
list1=[[[[[[[1,'cherry']]]]]]]
#len(list1)
list1[0][0][0][0][0][0][1]

'cherry'

In [151]:
list1=['MH',
       ['Nagpur',
        ['Orange',
         ['likes',
          ['king'],['Shivaji',
                    ['Son',
                     ['Shambaji']]]]]]]
#len(list1)
list1[1][1][1][2][1][1]

['Shambaji']

In [ ]:
list1=['MH',
       ['Nagpur',['Orange',['likes',['king'],['shivaji',['Son',['shmbaji']]]]]
       ]]

In [158]:
list1=['A','B','C','D']
for i in range (len(list1)):
    print(list1[i])

A
B
C
D

In [160]:
l=[1,2,3]
l[0]=100
l

[100, 2, 3]

In [173]:
l=[1,2,3,4,5,6,'A','B','C','D','E','F','G']

l1=l[2:9:2]
print(l1)
l2=l[3:9:-2]
print(l2)
l3=l[3:-9:2]
print(l3)
l4=l[-3:-9:-2]
print(l4)

[3, 5, 'A', 'C']
[]
[4]
['E', 'C', 'A']

## List Methods

In [ ]:
'append'
'clear'
'copy'
'count'
'extend'
'index'
'insert'
'pop'
'remove'
'reverse'
'sort'

**append**

- adding elemtns in a list at last index

- append method is very importment

- most of the itme we will use append in real time

- When you add the value the original list will be overwrite

In [182]:
l=['Apple','Ball','Cat']
l

['Apple', 'Ball', 'Cat']

# You want to add Doll in a given list

# keywords vs methods
len()
max()
min()
reversed()
sorted()

# Methods
<packege>.<method>()

In [187]:
l.append('Doll')

In [188]:
l

['Apple', 'Ball', 'Cat', 'Doll', 'Doll', 'Doll']

In [192]:
l1=[1,2,3,4]
l1.append(100)
l1

[1, 2, 3, 4, 100]

In [198]:
l2=[]
l2.append(10)
l2.append(20)
l2.append('apple')
l2.append(['A',1])
l2.append(False)
l2.append(True)
l2
le=len(l2)
print(le)
l2

6

[10, 20, 'apple', ['A', 1], False, True]

** Append method used to save the output in a list **

In [200]:
for i in range (1,6):
    print(i*i)

1
4
9
16
25

In [207]:
square_list=[]
for i in range (1,6):
    square_list.append(i*i)
square_list

[1, 4, 9, 16, 25]

In [216]:
## str='hai hai hai'
## what are ids of 'a'

li=[]
str='hai hai hai'
for i in range (len(str)):
    if str[i]=='a':
        li.append(i)
li,sum(li)

([1, 5, 9], 15)

In [ ]:
## Q2 l1=['Hyd','Mumbai','Chennai','blr']
#. ans -- we want elements which are len of elementss  >4

## Q3) l1['Hyd','Mum#bai','Chen$ai','blr']
# ans - we want elements which are having '#'

## Q4 l1=['Hyd','Mumbai','Chennai','blr']
#. ans -- we want elements which are len of elementss  >4