- We can store the output values by using append operations

- We are taking empty list

- We are iterating through elements from a given list

- the result we are appending in a new list

In [4]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are almost 3 lines are in the process

- The 3 lines we can make into a single line

- This is calles as LIST COMPREHENSION

$pattern-1$

**Only for loop

In [ ]:
#Syntax
#[<output>  <for loop>]

In [9]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

# Small part, how to make program short
# Q1) What is the output ? i*i
# Q2) What is the output list name? sqare_list
# Q3) what isthe for loop?   for in in range(10)
#[<output>. <for loop>]

sq_list=[i*i for i in range(10)]
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
l1=['hyd','mumbai','chennai','blr']
#output upper case
upper_list=[]
for i in l1:
    upper_list.append(i.upper())
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [ ]:
l2=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
#lower_list=[]
#for i in l2:
#    lower_list.append(i.lower())
#lower_list 

low_list=[i.lower(i) for i in l2]
low_list

In [ ]:
#Q4) sum of the indexes of all elements

l2=['Hyd','Mumbai','Chennai','Blr']
sum_list=[]
for i in l2:
    sum_list.append(l2.index(i))
sum(sum_list)

In [31]:
## Comprehension approach

l2=['Hyd','Mumbai','Chennai','Blr']
idx_list=[l2.index(i) for i in l2]
sum(idx_list)

6

- Making empth list will not work in List comperehension

- initialization will not work in List comprehension

- assignment operations also not work

$pattern-2$

**for loop - if condition

In [ ]:
# syntax

#[<output>  <for loop>. <if condition>]

In [ ]:
l1=['Hyd','Mumbai','Chennai','Blr']
for i in l1:
    if len(i)>4:
        print(i)

In [35]:
l1=['Hyd','Mumbai','Chennai','Blr']
op=[i for i in l1 if len(i)>4]
op

['Mumbai', 'Chennai']

In [ ]:
l1=['Hyd','Mum#bai','Chen#nai','blr']
chek_list=[]
for i in l1:
    if l1[i]=='#':
        chek_list.append(i)
    
chek_list

In [3]:
l1=['Hyd','Mum#bai','Chen#nai','blr']
op=[]
for i in l1:
    if '#' in i:
    op.append(i)
op

IndentationError: expected an indented block (<ipython-input-3-93d69e891b6d>, line 5)

In [8]:
# where we have # in list
l1=['Hyd','Mum#bai','Chen#nai','blr']
op_hash=[i for i in l1 if '#' in i]
op_hash

['Mum#bai', 'Chen#nai']

In [9]:
# where we have not # in list
l1=['Hyd','Mum#bai','Chen#nai','blr']
op_hash=[i for i in l1 if '#' not in i]
op_hash

['Hyd', 'blr']

In [15]:
str1='virat.kohli@rcg.com','rohit.sharma@mi.co','kl.rahul@luc.com'
list1=str1.split(',')
list1[0][:list1[0].index('.')]
list1[1][:list1[1].index('.')]
list1[2][:list1[2].index(',')]

for i in list1:
    f_name.append(i[:i.index('.')])
f_name

AttributeError: 'tuple' object has no attribute 'split'

In [18]:
sq_list=[i*i for i in range(10)]
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
#change to upper case
l1=['hyd','mumbai','chennai','blr']
up_list=[]
for i in l1:
    up_list.append(i.upper())
up_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [28]:
up_list=[i.upper() for i in l1]
up_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [30]:
low_list=[i.lower() for i in l1]
low_list

['hyd', 'mumbai', 'chennai', 'blr']

In [44]:
idx=[l1.index(i) for i in l1]
sum(idx)

6

In [52]:
#print if length is greater than 4
l1=['hyd','Mum#bai','Che#nnai','blr']
list_leng=[]
for i in l1:
    if len(i)>4:
        print(i)

Mum#bai
Che#nnai

In [53]:
[i for i in l1 if len(i)>4]

['Mum#bai', 'Che#nnai']

In [88]:
l1=['hyd','Mum#bai','che#nnai','blr']
for i in l1:
    if '#' in i:
        print(i)

#[i for i in l1 if l1.index(i)=='#']

Mum#bai
che#nnai

In [84]:
[i for i in l1 if '#' in i]

['Mum#bai', 'Che#nnai']

In [85]:
[i for i in l1 if '#' not in i]

['hyd', 'blr']

In [90]:
# check if any element start with title
l1=['hyd','Mumbai','chennai','blr']
[i for i in l1 if i.istitle()]

['Mumbai']

In [124]:
str1='virat.kohli@rcg.com,rohit.sharma@mi.co,kl.rahul@luc.com'
list1=str1.split(',')
list1[0][:list1[0].index('.')]
list1[1][:list1[1].index('.')]
list1[2][:list1[2].index('.')]

f_name=[]
for i in list1:
    f_name.append(i[:i.index('.')])
f_name

s_name=[]
for i in list1:
    s_name.append(i[:i.index('.')])
s_name

['virat', 'rohit', 'kl']

In [104]:
list1[0].index('.')

5

In [118]:
for i in list1:
    print(i[:i.index('.')])

virat
rohit
kl

In [139]:
fname=[(i[:i.index('.')]) for i in list1]
lname=[i[i.index('.')+1:i.index('@')] for i in list1]
cname=[i[i.index('@')+1:] for i in list1]
print(f'First name of all the players : " {fname}')
print(f'Last name of all the players : " {lname}')
print(f'Company of all the palyers : " {cname}')

First name of all the players : " ['virat', 'rohit', 'kl']
Last name of all the players : " ['kohli', 'sharma', 'rahul']
Company of all the palyers : " ['rcg.com', 'mi.co', 'luc.com']

In [146]:
#table of 2

l1=[i*2 for i in range(10)]
l1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# 3 patterns:
[<output>  <for loop>]  : for loop
[<output>  <for loop> <if condition>]      : for loop else
[<if_output> <if> <else> <else_output> <for>]      :if-else

$Pattern-3$
**if-else

** even-odd

In [162]:
[f"even:{i}" if i%2==0 else f"odd:{i}" for i in range(1,20)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']